doctype html
html(lang="en" class="no-js")
  include ./includes/head.pug
  body
    include ./includes/nav.pug
    .row
      .small-12.columns
        each pic in pics
          .row
            .small-12.columns
              h2=pic.name
          .row
            .small-12.medium-6.columns
              img(class="lazy thumbnail" data-original=pic.drawing.img)
              br
              b=pic.drawing.text
            .small-12.medium-6.columns
              img(class="lazy thumbnail" data-original=pic.real.img)
              br
              b=pic.real.text
          .row
            .small-12.columns
              hr
    include ./includes/footer.pug
